@charset "UTF-8";

.header
{
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	margin: 3px;
}

.logoHolder
{
	position: fixed;
	bottom: 10px; 
	right: 2%;
}

#printContainer
{
	bottom: 65px; 
	right: 2%; 
	width: 450px; 
	height: 170px; 
	position: fixed; 
	border: 1px solid black; 
	box-shadow: 3px 5px 5px black; 
	background: white;
	visibility: visible;
	
	font-size: smaller;
	font-family: Monospace;
	
	padding: 10px;
	overflow-y: scroll;
}

#logoFVH {
    z-index: 1000;
    height: 40px;
	float: right;
	margin-right: 20px;
}

#logoR4C {
    z-index: 1000;
    height: 40px;
	float: right;
}

body, html
{
	margin: 0px;
	height: 100%;
}

#canvasScalerDiv {
	width: 100%;
	height: 100%;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
  }