@charset "UTF-8";

.header
{
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	margin: 3px;
}

.logoHolder
{
	position: fixed;
	bottom: 10px; 
	right: 2%;
}

#georefContainer
{
	top: 400px;
	right: 2%; 
	width: 450px; 
	height: 30px; 
	position: fixed; 
	border: 1px solid black; 
	box-shadow: 3px 5px 5px black; 
	background: white;
	visibility: visible;
	
	font-size: smaller;
	font-family: sans-serif;
	
	padding: 10px;
}

#plotContainer
{
	position: fixed;
	top: 90px;
	left: 10px;
	width: 400px;
	height: 300px; 
	visibility: hidden;
	
	font-size: smaller;
	
	border: 1px solid black;
	box-shadow: 3px 5px 5px black; 
}

#plotSoSContainer
{
	position: fixed;
	top: 90px;
	right: 10px;
	width: 500px;
	height: 300px; 
	visibility: hidden;
	
	font-size: smaller;
	
	border: 1px solid black;
	box-shadow: 3px 5px 5px black; 
}

#plotMaterialContainer
{
	position: fixed;
	bottom: 40px;
	left: 10px;
	width: 800px;
	height: 290px; 
	visibility: hidden;
	
	font-size: smaller;
	border: 1px solid black;
	box-shadow: 3px 5px 5px black;  
}

#numericalSelect
{
	position: fixed;
	bottom: 41px;
	left: 746px;
	visibility: hidden;
	
	font-size: smaller;
}

#categoricalSelect
{
	position: fixed;
	bottom: 312px;
	left: 11px;
	visibility: hidden;
	
	font-size: smaller;
}

#printContainer
{
	bottom: 65px; 
	right: 2%; 
	width: 450px; 
	height: 170px; 
	position: fixed; 
	border: 1px solid black; 
	box-shadow: 3px 5px 5px black; 
	background: white;
	visibility: visible;
	
	font-size: smaller;
	font-family: Monospace;
	
	padding: 10px;
	overflow-y: scroll;
}

#logoFVH {
    z-index: 1000;
    height: 40px;
	float: right;
	margin-right: 20px;
}

#logoR4C {
    z-index: 1000;
    height: 40px;
	float: right;
}

body, html
{
	margin: 0px;
	height: 100%;
}

#cesiumContainer {
	width: 100%;
	height: 100%;
}

#canvasScalerDiv {
	width: 100%;
	height: 100%;
}

.uiButton {
	background-color: white;
	border: 0px solid black; 

	font-family: sans-serif;
	font-size: small;
	text-align: middle;
	padding: 5px;
	margin: 5px;
	
	float: left;
	
	text-decoration: underline;
}

.uiButton:hover {
	color: rgb(150,150,150);
}

.label {
	background-color: white;
	border: 0px solid black; 

	font-family: sans-serif;
	text-align: middle;
	
	text-decoration: none;
	font-size: small;
}

#UIContainer {
	top: 10px; 
	left: 0px; 

	position: fixed; 
	border: 1px solid black; 
	box-shadow: 3px 5px 5px black; 
	visibility: visible;
	
	background: white;
	padding: 5px;
	
	min-height: 25px;
	
	width: 100%;
}

#searchcontainer {
	visibility: visible;
	float:left;
}

#searchbutton {
float: left;
}

#searchresultscontainer
{
	background: white;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}